@import "tailwindcss";

@config "./tailwind.config.js";

.hero-card {
  @apply rounded-xl shadow-md p-6 text-gray-800;
  background-color: #fbfaf9;
}

.dark .hero-card {
  @apply bg-zinc-800 text-gray-100;
}



.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.section-head {
  @apply text-xl rounded w-max pb-3 pt-4;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  margin-top: 1em;
}

.square-card {
  @apply bg-gray-100 w-max p-5 rounded aspect-square align-text-bottom;
}

.gradient-text {
  @apply bg-gradient-to-r from-primary to-red-500 bg-clip-text text-transparent text-5xl font-bold;
}

.blinking-cursor {
  display: inline-block;
  width: 1px;
  background-color: currentColor;
  animation: blink 1s steps(2, start) infinite;
  margin-left: 2px;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.animate-blink {
  animation: blink 1s steps(2, start) infinite;
}


@theme {
  --bg-gray-card: #fbfaf9; /* Light gray background for cards */
  --bg-gray-card-dark: #1f2937; /* Dark gray background for cards*/


  --color-primary: #4f46e5; /* Indigo 600 */
  --color-secondary: #f59e0b; /* Amber 500 */
  --color-background: #f9fafb; /* Gray 50 */
  --color-text: #111827; /* Gray 900 */
  --color-text-secondary: #6b7280; /* Gray 500 */
  --color-border: #e5e7eb; /* Gray 200 */
  --color-accent: #ec4899; /* Pink 500 */
  --color-accent-light: #f472b6; /* Pink 300 */
  --color-accent-dark: #db2777; /* Pink 700 */
  --color-success: #16a34a; /* Green 600 */
  --color-error: #dc2626; /* Red 600 */
  --color-warning: #d97706; /* Amber 600 */
  --color-info: #2563eb; /* Blue 600 */
  --color-link: #3b82f6; /* Blue 500 */
}



/*
.text-sm {
  font-family: "Lexend", 'Times New Roman', Times, serif;
}
  */

.bg-gray-card {
  background-color: var(--bg-gray-card);
  box-shadow: none;
}

/**
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

**/